#headerrow{
	position: absolute;
	top: 0%;
	/* bottom: 85%; */
	left: 0%;
	right: 0%;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}
					#leftheader{
						position: absolute; 
						left: 0px;
						top: 0px;
						height: 100%;
					}
					#header{
						position: absolute;
						height: 100%;
						border-left: solid 1px black;
						border-right: solid 1px black;
						overflow-x: hidden;
					}
													.headertable{
														display: table;
														height: 100%;
														width: 100%
													}
													.headertablerow{
														display: table-row;
														height: 100%;
													}
													.headertablecell{
														display: table-cell; 
														height: 100%;
														min-width: 150px;
														text-align: center;
														vertical-align: middle;
													}
					#rightheader{
						position: absolute; 
						right: 0px;
						top: 0px;
						height: 100%;
					}
					
					
					
					
					
					


#contentrow{
	position: absolute;
	left: 0%;
	right: 0%;
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}
					#leftcontent{
						position: absolute; 
						left: 0px;
						top: 0px;
						height: 100%;
						overflow: hidden;
					}
													.leftcell{
														width: 100%;
														min-height: 100px;
														text-align: center;
													}
																	.leftcelltable{
																		display: table;
																		height: 100%;
																		width: 100%
																	}
																	.leftcelltablerow{
																		display: table-row;
																		height: 100%;
																		width: 100%;
																	}
																	.leftcelltablecell{
																		display: table-cell; 
																		height: 100%;
																		width: 100%;
																		text-align: center;
																		vertical-align: middle;
																	}
					#content{
						position: absolute;
						height: 100%;
						top:0px;
						bottom: 0px;
						border-left: solid 1px black;
						border-right: solid 1px black;
						overflow: hidden;
					}
													.contentcontentrow{
														width: 100%;
														min-height: 100px;
														text-align: center;
													}
																	.contentcontenttable{
																		display: table;
																		height: 100%;
																		width: 100%
																	}
																	.contentcontenttablerow{
																		display: table-row;
																		height: 100%;
																	}
																	.contentcontenttablecell{
																		display: table-cell; 
																		height: 100%;
																		min-width: 150px;
																		text-align: center;
																		vertical-align: middle;
																	}
					#rightcontent{
						position: absolute; 
						right: 0px;
						top: 0px;
						height: 100%;
						overflow-y: scroll;
						overflow-x: hidden;
					}
													.rightcell{
														width: 100%;
														min-height: 100px;
													}
																	.rightcelltable{
																		display: table;
																		height: 100%;
																		width: 100%
																	}
																	.rightcelltablerow{
																		display: table-row;
																		height: 100%;
																		width: 100%;
																	}
																	.rightcelltablecell{
																		display: table-cell; 
																		height: 100%;
																		width: 100%;
																		text-align: center;
																		vertical-align: middle;
																	}



#footerrow{
	position: absolute;
	bottom: 0%;
	left: 0%;
	right: 0%;
	border-bottom: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}
					#leftfooter{
						position: absolute; 
						left: 0px;
						top: 0px;
						height: 100%;
					}
					#footer{
						position: absolute;
						height: 100%;
						border-left: solid 1px black;
						border-right: solid 1px black;
						overflow-x: scroll;
					}
													.footertable{
														display: table;
														height: 100%;
													}
													.footertablerow{
														display: table-row;
														height: 100%;
													}
													.footertablecell{
														display: table-cell; 
														height: 100%;
														min-width: 150px;
														text-align: center;
														vertical-align: middle;
													}
					
					#rightfooter{
						position: absolute; 
						right: 0px;
						top: 0px;
						height: 100%;
					}